.About {
  text-align: center;
  padding-bottom: 2em;
}

.header-text {
  font-family: 'Raleway', sans-serif;
  margin-top: 5%;
  margin-bottom: 3%;
  width: 100%;
  font-size: 4.5em;
}

@media only screen and (max-width: 700px) {
  .header-text {
    font-size: 3em;
  }
}
