.Header {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.hero {
    background: linear-gradient(to right, #222 1%, transparent), url('../assets/hermann.jpg'); 
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero * {
    position: relative;
    color: white;
    text-transform: uppercase;
    padding-left: 10%;
}

.hero-text {
    padding-top: 20vh;
    font-size: 6vw;
}

.buzzword {
    font-size: 13vw;
}

@keyframes flash {
    0% {opacity: 1;}
    100% {opacity: 0;} 
  }
  
.SeeMoreArrow {
    /* Flashing animation  */
    /* animation-duration: 3s;
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

    width: 5vw;
    padding: 0;
    margin-left: 90vw;
    margin-top: 10vh;
}
