.Header {
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.hero {
  background: linear-gradient(to right, #222 1%, transparent),
    url('../assets/splash.png');
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero * {
  position: relative;
  color: white;
  text-transform: uppercase;
  padding-left: 10%;
}

.hero-text {
  padding-top: 25vh;
  font-size: 6vw;
}

.buzzword {
  font-size: 13vw;
}

@media only screen and (max-width: 700px) {
  .hero * {
    padding-left: 0;
    text-align: center;
  }

  .hero-text {
    padding-top: 36vh;
  }
}
